@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: #040d15;
  color: #f7f7f7;
  margin: 0 0.6em;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

header {
  padding: 1em;
  margin: 1em;
}

.filters {
  margin-bottom: 1em;
}

button {
  background-color: inherit;
  border: 1px solid #f7f7f7;
  color: #fff;
  padding: 2em 3em;
  font-size: 1em;
  margin: 1em 0.2em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: #f7f7f7;
  color: #040d15;
}

.dcMovies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 0.5em;
  align-items: center;
}

img {
  width: 200px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.movie-continuity {
  font-style: italic;
}

.movie-title {
  margin-bottom: 0.6em;
}

.fa-angle-up {
  padding: 0.4em;
}

/* Media Queries */
@media only screen and (max-width: 912px) {
  .dcMovies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    padding: 2em 2em;
    margin: 0.5em 0.2em;
  }
}

@media only screen and (max-width: 773px) {
  .dcMovies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 591px) {
  .dcMovies {
    display: grid;
    grid-template-columns: 1fr;
  }
  .movie-continuity {
    margin-bottom: 1em;
  }

  button {
    padding: 1em 1.2em;
    margin: 0.5em 0.2em;
  }
}
