* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

:root {
  --accent: #78dce8;
  --dark: #040d15;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: var(--dark);
  color: #f7f7f7;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 2px;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("https://cdn.mos.cms.futurecdn.net/gWtokCsGcHFKx6gLEGwdd7-1200-80.jpg");
  background-position: center;
  padding: 5rem;
  background-size: cover;
  background-blend-mode: darken;
}

.page-title {
  font-weight: 400;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.credit {
  display: flex;
  padding: 5px;
  font-size: 0.8rem;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button {
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid var(--accent);
  color: #fff;
  font-weight: 400;
  padding: 2rem 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: var(--accent);
  color: var(--dark);
}

button.active {
  background-color: var(--accent);
  color: var(--dark);
}

.dc-movies {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 50px;
  align-items: center;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.movie__title {
  max-width: 80%;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.movie__cover {
  width: 200px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(22, 22, 22, 0.1);
}

.movie__release {
  color: #c7c7c7;
}

.movie__continuity {
  font-style: italic;
  max-width: 80%;
}

.movie__continuity.hidden {
  display: none;
}

.fa-arrow-up {
  padding: 0.4em;
}

#scroll-back {
  padding: 3px 5px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 99;
}

/* Media Queries */
@media only screen and (max-width: 2000px) {
  .dc-movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1536px) {
  .dc-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1280px) {
  .dc-movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .dc-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    padding: 2em 2em;
    margin: 0.5em 0.2em;
  }
}

@media only screen and (max-width: 773px) {
  .dc-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 591px) {
  .dc-movies {
    display: grid;
    grid-template-columns: 1fr;
  }

  button {
    padding: 1rem 1.2rem;
  }
}
